/*RESET*/

* {
  margin: 0;
  padding: 0;
}

.grid-container {
  width: 80%;
  margin: 0 auto;
  color: black;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 200px 400px 150px;
  /** Magia de las areas*/
  grid-template-areas:
    "nav header header"
    "nav main aside"
    "footer footer footer";
}

.encabezado {
  background-color: #f1ddbf;
  grid-area: header;
}

.menu {
  background-color: burlywood;
  grid-area: nav;
}

.contenido {
  background-color: #92ba92;
  grid-area: main;
}
.aside {
  background-color: #525e75;
  grid-area: aside;
}
.pie {
  background-color: #78938a;
  grid-area: footer;
}

/* MEDIA QUERY */
@media screen and (max-width: 950px) {
  .grid-container {
    width: 100%;
    margin: 0;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 200px 100px 400px 150px;
    grid-template-areas:
      "header header"
      "nav nav"
      "main aside"
      "footer footer";
  }
  .menu {
    background-color: tomato;
  }
}
